/* === GLOBAL FONTS === */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

/* === COLOR PALETTE === */
:root {
  --clr-bg: #E4D0C5;
  --clr-primary: #9A7F69;
  --clr-secondary: #C7B9AE;
  --clr-accent-dark: #c17258;
  --clr-accent-rose: #CE917D;
  --clr-text: #725543;
}

/* === GLOBAL RESET === */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  font-size: 1.2rem;
  background: url('https://www.transparenttextures.com/patterns/paper-fibers.png'), var(--clr-bg);
  background-repeat: repeat;
  color: var(--clr-text);
}

.app-grid {
  display: grid;
  grid:
    "header header header header" auto
    "...... lists  active ......" auto /
    1fr minmax(100px, 300px) minmax(250px, 500px) 1fr;
  margin-bottom: 3rem;
}